<p id="notice"><%= notice %></p>

 <div class="panel panel-primary">
   <div class="panel-heading">
     <%= @blog_post.title %>
   </div>
   <div class="panel-body">
     <%= @blog_post.author %>
     <%= @blog_post.blog_entry %>
   </div>
 </div>

<div class="panel panel-default">
	<div class="panel-header">
		<h4>Comments</h4>
	</div>
	<div class="panel-body">
   		<% @blog_post.comments.each do |comment| %>
   		<p><strong><%= comment.author%></strong></p>
   		<p><%= comment.comment_entry%></p>
        <%end%>
   </div>
</div>


 <div class="panel panel-success">
   <div class="panel-heading">
     Make a Comment
   </div>
   <div class="panel-body">
     <%= render 'comments/form' %>
   </div>
 </div>

<div>
 <%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
 <%= link_to 'Back', blog_posts_path %>
</div>